<template>
<div class="defect">
<div>
<p>Type</p>
<select class="selected" v-model="selectedOption">
<option v-for="option in options" :key="option" v-bind:vlaue= "option"> {{option}}
</option>
</select>
<p>Type</p>
<select class="new" v-model="selectedOption">
<option v-for="option in options" :key="option" v-bind:vlaue= "option"> {{option}}
</option>
</select>
<p>Type</p>
<select class="new" v-model="selectedOption">
<option v-for="option in options" :key="option" v-bind:vlaue= "option"> {{option}}
</option>
</select>
</div>
<div class="notes">
<h3>Notes</h3>
 <textarea class="review" v-model="review"></textarea>
</div>
</div>
</template>

<script>
export default {
  data () {
    return {
      options: ['red', 'yellow', 'green'],
      selectedOption: 'yellow'
    }
  }
}
</script>

<style>
.defect {
  display: flex;
  flex-flow: wrap;
  margin-top: 10px;
}

p{
    font-weight: bold;
    font-size: 10px;
    margin-bottom: 4px;
}

.selected {
border-radius: 8px;
width: 180px;
height: 22px;
font-size: 11px;
font-weight: bold;
margin-left: 5px;
}

.new {
border-radius: 8px;
width: 180px;
height: 22px;
font-size: 11px;
font-weight: bold;
margin-left: 5px;
margin-top: 5px;
}

.notes {
    margin-left: 5px;
}

.review {
      height: 85px;
      width: 250px;
      border-radius: 4px;
      margin-left: 5px;
    }
</style>
