<template>
<div class="content">
 <div class="title">
 <h3>Position</h3>
 <p>LAT: </p>
 <p>LONG: </p>
 <p>ELEV: </p>
 </div>
<div class="values">
</div>
<div class="description">
 <h3>Description</h3>
 <textarea class="review" v-model="review"></textarea>
 </div>
 </div>
</template>

<script>
export default {
}
</script>

<style>
.content {
    display: flex;
    flex-flow: wrap;
    padding: 1rem;
  }

   .title,
  .description {
    margin-top: 10px;
    width: 50%;
    }

  h3 {
      font-size: 20px;
  }

  p{
      font-size: 12px;
      padding-right: 5px;
  }

  .review {
      border-radius: 4px;
      height: 85px;
      width: 250px;
      border-radius: 8px;
    }

  </style>
