<template>
  <div class="home">
  <div class="col-8 offset-2 text-center" style="width: 40rem;">
    <div class="card text-white bg-dark mb-3 " style="height: 20rem;">
  <div class="card-header" >
  <input type="text" style="color:#fff; outline:none" class="cardtext" placeholder="Name of Card">
  </div>
  <div class="card-body text-dark bg-light">
  <div class="container">
  <app-tabs></app-tabs>
  </div>
  </div>
  </div>
  </div>
  </div>
 </template>

<script>
import Tabs from './Tabs.vue'
export default {
  data: function () {
    return {
      tabs: ['Details', 'Images', 'Defect', 'Chat', 'History', 'Files', 'Share']
    }
  },
  components: {
    appTabs: Tabs
  }
}
</script>

<style>
.text-center{
  margin-top: 50px;
}

.card-header {
  text-align: left;
  font-family:Dosis,sans-serif;;
  }

.cardtext{
  background:none;
  border-radius: 14px;
  padding: 2px 18px!important;
}

.card-header>input {
    padding-left: 12px;
    padding-right: 5px;
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 18px;
    font-weight: 500;
    border: 1px solid #c5c5c5;
    }

 .card-header input::after {
   content: "\F014";
   font-family: "FontAwesome";
   padding-left: 350px;
   font-size: 25px;
   }
</style>
