<template>
 <div>
     <div class="nav">
     <span class="tabs"
                :class="{ activeTab: selectedTab === tab }"
                v-for="(tab, index) in tabs"
                :key="index"
                @click="selectedTab = tab"
          >{{ tab }}</span>
        </div>
        <div v-show="selectedTab === 'Details'">
          <appDetails></appDetails>
        </div>
        <div v-show="selectedTab === 'Defect'">
          <app-defect></app-defect>
         </div>
         <div v-show="selectedTab === 'Chat'">
          <p>Hello there</p>
        </div>
         <div v-show="selectedTab === 'Files'">
          <p>Hello there</p>
        </div>
         <div v-show="selectedTab === 'Share'">
          <p>Hello there</p>
        </div>
     </div>
</template>

<script>
import Details from './Details.vue'
import Defect from './Defect.vue'
export default {
  data () {
    return {
      tabs: ['Details', 'Defect', 'Chat', 'Files', 'Share'],
      selectedTab: 'Details'
    }
  },
  components: {
    appDetails: Details,
    appDefect: Defect
  }
}
</script>

<style>
 .tabs {
     margin-left: 20px;
     cursor: pointer;
    }

 .activeTab {
     color: #16C0B0;
     text-decoration: underline;
 }

.nav{
      border-bottom:2px solid #4285f4;
      overflow: auto;
}
</style>
